<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:myname="http://www.dhcao.org/schema/user"
       xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.dhcao.org/schema/user http://www.dhcao.org/schema/user.xsd"
  default-autowire="byName">

  <!-- 采用注解的方式配置Bean，配置要扫描的包。需要根据代码实时更新 -->
  <context:component-scan base-package="org.dhcao.relax.spring.prototype">
  </context:component-scan>
  <!-- 读入配置属性文件 -->
  <!--<context:property-placeholder-->
    <!--location="classpath:db.properties, classpath:public_system.properties" />-->

  <bean id="home" scope="singleton" class="org.dhcao.relax.spring.code.Home" autowire="byName" autowire-candidate="false">

   <meta key="key" value="value"></meta>
  </bean>

  <bean id="desk" name="desk" scope="singleton" class="org.dhcao.relax.spring.code.Desk" >
  </bean>



  <!-- test the lookup-method -->
  <bean id="getBeanTest" class="org.dhcao.relax.spring.lookup.GetBeanTest">
    <lookup-method name="getBean" bean="teacher"></lookup-method>
  </bean>
  <bean id="teacher" class="org.dhcao.relax.spring.lookup.Teacher"></bean>


  <!-- test the replace-method -->
  <bean id="testChangeMethod" class="org.dhcao.relax.spring.replaced.TestChangeMethod">
    <replaced-method name="changeMe" replacer="replacer"></replaced-method>
  </bean>

  <bean id="replacer" class="org.dhcao.relax.spring.replaced.TestMethodReplacer"></bean>


  <!-- my xsd -->
  <myname:user id="testBean" userName="aaa" email="bbb"/>

  <!-- my factory-->
  <bean id="car" class="org.dhcao.relax.spring.myFactory.CarFactoryBean">
    <property name="carInfo" value="超级跑车,400,200000"></property>
  </bean>
</beans>